@import url("https://fonts.googleapis.com/css?family=Quicksand"); html, body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    background: #252525;
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0 0 40px;
    margin: 0;
}

.mystery-title {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #f3f3f3;
    font-weight: 100;
    position: relative;
    display: block;
    text-align: center;
    margin: 0 0 20px;
    padding-top: 10px;
    z-index: 0;
    font-size: 3em;
    font-weight: bold;
}

.mystery-title:after {
    position: absolute;
    z-index: -1;
    content: attr(data-name);
    width: 100%;
    height: 100%;
    top: 13px;
    left: 3px;
    color: #9B9B9B;
    text-align: center;
    font-weight: bold;
}

.character-card {
    font-family: 'Quicksand', sans-serif;
    color: #73D8EF;
    margin: 25px 20px;
    padding: 20px 0 26px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-weight: bold;
    background: none;
    font-size: 1em;
    outline: none;
    border: none;
}

.character-card:after {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    content: '';
    border: 6px solid #73D8EF;
    z-index: 1;
}

.character-card:before {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 100%;
    height: 100%;
    content: '';
    border: 6px solid #129AED;
    z-index: 2;
}

.character-card .character-icon {
    flex-grow: 1;
    width: 8%;
    text-align: center;
}

.character-card .character-info {
    width: 60%;
    flex-grow: 2;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.character-card .character-label {
    display: block;
    margin: 2px 0 4px;
    padding: 0;
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

.character-card .character-label:after {
    position: absolute;
    z-index: -1;
    content: 'THE';
    top: 2px;
    left: 2px;
    width: 100%;
    height: 100%;
    color: #129AED;
    text-align: left;
}

.character-card .character-name {
    display: block;
    margin: -4px 0 0;
    padding: 0;
    position: relative;
    z-index: 1;
    font-size: 2.75em;
    text-align: left;
    font-weight: bold;
}

.character-card .character-name:after {
    position: absolute;
    z-index: -1;
    content: attr(data-name);
    width: 100%;
    height: 100%;
    top: 3px;
    left: 3px;
    color: #129AED;
}

/* Engineer */
.character-card.botanist .character-label, .character-card.botanist .character-name {
    color: #2ECC71;
}

.character-card.botanist .character-label:after, .character-card.botanist .character-name:after {
    color: #278C51;
}

.character-card.botanist:after {
    border-color: #2ECC71;
}

.character-card.botanist:before {
    border-color: #278C51;
}

/* Doctor */
.character-card.doctor .character-label, .character-card.doctor .character-name {
    color: #D8334A;
}

.character-card.doctor .character-label:after, .character-card.doctor .character-name:after {
    color: #af283b;
}

.character-card.doctor:after {
    border-color: #D8334A;
}

.character-card.doctor:before {
    border-color: #af283b;
}

/* Collector */
.character-card.collector .character-label, .character-card.collector .character-name {
    color: #73D8EF;
}

.character-card.collector .character-label:after, .character-card.collector .character-name:after {
    color: #129AED;
}

.character-card.collector:after {
    border-color: #73D8EF;
}

.character-card.collector:before {
    border-color: #129AED;
}

/* Inventor */
.character-card.inventor .character-label, .character-card.inventor .character-name {
    color: #AC92EC;
}

.character-card.inventor .character-label:after, .character-card.inventor .character-name:after {
    color: #8550F0;
}

.character-card.inventor:after {
    border-color: #AC92EC;
}

.character-card.inventor:before {
    border-color: #8550F0;
}

/* Genetic Engineer */
.character-card.genetic-engineer .character-label, .character-card.genetic-engineer .character-name {
    color: #FFDE5A;
}

.character-card.genetic-engineer .character-label:after, .character-card.genetic-engineer .character-name:after {
    color: #BEA84F;
}

.character-card.genetic-engineer:after {
    border-color: #FFDE5A;
}

.character-card.genetic-engineer:before {
    border-color: #BEA84F;
}

/* Genetic Engineer */
.character-card.genetic-engineer .character-label, .character-card.genetic-engineer .character-name {
    color: #fd972a;
}

.character-card.genetic-engineer .character-label:after, .character-card.genetic-engineer .character-name:after {
    color: #e28f36;
}

.character-card.genetic-engineer:after {
    border-color: #fd972a;
}

.character-card.genetic-engineer:before {
    border-color: #e28f36;
}

/* Chef */
.character-card.chef .character-label, .character-card.chef .character-name {
    color: #FFDE5A;
}

.character-card.chef .character-label:after, .character-card.chef .character-name:after {
    color: #BEA84F;
}

.character-card.chef:after {
    border-color: #FFDE5A;
}

.character-card.chef:before {
    border-color: #BEA84F;
}

/* Manufacturer */
.character-card.manufacturer .character-label, .character-card.manufacturer .character-name {
    color: #F5F7FA;
}

.character-card.manufacturer .character-label:after, .character-card.manufacturer .character-name:after {
    color: #CCD1D9;
}

.character-card.manufacturer:after {
    border-color: #F5F7FA;
}

.character-card.manufacturer:before {
    border-color: #CCD1D9;
}

/* Journalist */
.character-card.journalist .character-label, .character-card.journalist .character-name {
    color: #EC87C0;
}

.character-card.journalist .character-label:after, .character-card.journalist .character-name:after {
    color: #D770AD;
}

.character-card.journalist:after {
    border-color: #EC87C0;
}

.character-card.journalist:before {
    border-color: #D770AD;
}

/* Meteorologist */
.character-card.meteorologist .character-label, .character-card.meteorologist .character-name {
    color: #1ABC9C;
}

.character-card.meteorologist .character-label:after, .character-card.meteorologist .character-name:after {
    color: #1A7563;
}

.character-card.meteorologist:after {
    border-color: #1ABC9C;
}

.character-card.meteorologist:before {
    border-color: #1A7563;
}


/* Architect */
.character-card.architect .character-label, .character-card.architect .character-name {
    color: #5D9CEC;
}

.character-card.architect .character-label:after, .character-card.architect .character-name:after {
    color: #3776ca;
}

.character-card.architect:after {
    border-color: #5D9CEC;
}

.character-card.architect:before {
    border-color: #3776ca;
}

/* Miner */
.character-card.miner .character-label, .character-card.miner .character-name {
    color: #BAA286;
}

.character-card.miner .character-label:after, .character-card.miner .character-name:after {
    color: #AA8E69;
}

.character-card.miner:after {
    border-color: #BAA286;
}

.character-card.miner:before {
    border-color: #AA8E69;
}