.content {
    font-family: "Poppins", sans-serif;
}

.content__about {
    font-size:  var(--f-main);
    margin: 0;
    line-height: 1.8;
}

.content__about__img {
    width: 240px;
    float: right;
    margin: 10px 0 20px 5vw;
    border: 6px solid var(--c-grey-400);
    box-shadow: 6px 6px 0 0 var(--c-blue-400);
}

.content__about--focused {
    font-weight: 600;
}


.content .content__panel {
    flex-grow: 1;
    margin-right: 20px;
}

.content__tech__list {
    list-style: none;
    margin: 0 0 0 4px;
    padding: 0;
}

.content__tech__list__item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.content__tech__list__item img {
    width: 28px;
    max-height: 40px;
}

.content__tech__list__item label {
    font-size: var(--f-sub);
    margin: 0 0 3px 12px;
}

@media (max-width: 900px) {
    .content__about__img {
        width: 180px;
    }
}

@media (max-width: 650px) {
    .content__about__img {
        width: 140px;
    }
}
