:root {
  --c-blue-400: #70caff;
  --c-grey-300: #444444;
  --c-grey-400: #333333;
  --c-white: #ffffff;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

nav {
  align-items: center;
  color: white;
  display: flex;
  height: 90px;
  padding: 0 30px;
  width: 100vw;
  box-sizing: border-box;
}

nav img {
  margin: 0 20px;
  width: 48px;
}

nav h1 {
  font-family: "Bitter", serif;
  font-size: 24px;
}

nav ul {
  display: flex;
  flex-grow: 1;
  font-family: "Barlow", serif;
  justify-content: flex-end;
  list-style: none;
}

.nav-item {
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: all 150ms;
}

.nav-item--selected {
  background: white;
  color: var(--c-grey-400);
}

.nav-item:hover {
  background: white;
  color: var(--c-grey-400);
}

.nav-item a {
  text-decoration: none;
  color: white;
}

.content.about {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.about__text {
  flex-grow: 1;
  font-size: 18px;
  line-height: 2;
  margin-right: 30px;
}

.about__img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Barlow", serif;
  margin: 40px;
}

.content__project {
  background-color: white;
  border-radius: 4px;
  color: var(--c-grey-400);
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  padding: 20px;
  margin-bottom: 10px;
}

.content__project__heading {
  font-family: "Bitter", serif;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.content__project__description p {
  line-height: 1.3;
}

.content__project__link img {
  width: 20px;
  margin: 4px 0 0 10px;
}

.content__project__tech {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content__project__img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-left: 20px;
  min-width: 375px;
  width: 375px;
}

.content__project__tech__item {
  background-color: var(--c-blue-400);
  border-radius: 4px;
  color: var(--c-grey-400);
  font-size: 12px;
  font-weight: 600;
  margin-right: 4px;
  padding: 4px 8px 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .content__project {
    flex-direction: column;
  }

  .content__project__img {
    margin: 20px 0 0;
  }

  nav h1 {
    font-size: 24px;
  }

  .nav-item {
    font-size: 14px;
  }
}
