html, body, ul, ol, * {
  margin: 0px;
  padding: 0px; }

body {
  background: #272829;
  font-family: 'Oxygen', sans-serif; }

nav {
  width: 100vw;
  height: 10vh;
  background: #272829;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; }
  nav li img {
    /*-webkit-transition : -webkit-filter 250ms;*/ }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    nav ul li {
      display: flex;
      align-items: center;
      justify-content: space-around; }
  nav img:hover {
    cursor: pointer; }
  nav li:hover, nav .selected {
    color: #FDA94D;
    cursor: pointer; }

.hidden {
  display: none !important; }

.full-width, #main-content, #main-content .grid, #main-content .col-1-1 {
  width: 100%; }

.full-height, #main-content .row-1-1 {
  height: 100%; }

.full-width-height, #main-content .page {
  width: 100% !important;
  height: 100% !important; }

.invert-img, nav li img {
  -webkit-filter: grayscale(100%) brightness(100);
  -moz-filter: grayscale(100%) brightness(100);
  filter: grayscale(100%) brightness(100); }

.hover-img, nav li img:hover, nav li:hover img, nav .selected img {
  -webkit-filter: invert(0);
  -moz-filter: invert(0);
  filter: invert(0); }

p {
  padding: 0px 10px; }

.hide-1 {
  top: -120% !important; }

.hide-2 {
  left: 100% !important; }

.hide-3 {
  top: 200% !important; }

.hide-4 {
  left: -100% !important; }

#main-content {
  background: #272829;
  height: calc(100vh - 10vh );
  overflow: hidden; }
  #main-content .page {
    position: relative;
    left: 0px;
    overflow: hidden;
    background: #272829;
    -webkit-transition: left 0.4s, top 0.4s;
    -moz-transition: left 0.4s, top 0.4s;
    transition: left 0.4s, top 0.4s; }
  #main-content .grid {
    display: flex;
    float: left;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    background: white;
    color: #272829;
    margin-top: 5px;
    margin-right: 5px;
    box-sizing: border-box; }
    #main-content .grid div {
      width: 100%; }
  #main-content .row-1-2 {
    height: calc((100% - 5px)/ 2); }
  #main-content .col-1-2 {
    width: calc((100% - 5px)/ 2); }
  #main-content .row-1-3 {
    height: calc((100% - (2 * 5px))/ 3); }
  #main-content .row-2-3 {
    height: calc((100% - (2 * 5px)) * (2/3)); }
  #main-content .col-1-3 {
    width: calc((100% - (2 * 5px))/ 3); }
  #main-content .col-2-3 {
    width: calc((100% - (2 * 5px)) * (2/3) + 5px); }
  #main-content #page-1 {
    top: 0px; }
    #main-content #page-1 .grid div {
      text-align: center; }
    #main-content #page-1 .grid div:first-child {
      height: 35%; }
    #main-content #page-1 .grid div:last-child {
      height: 45%; }
    #main-content #page-1 .grid:first-child img {
      border-radius: 200px; }
    #main-content #page-1 .grid:first-child div:last-child {
      width: 80%; }
    #main-content #page-1 .grid:nth-child(2) {
      justify-content: center; }
    #main-content #page-1 .grid:nth-child(3) {
      margin-right: 0px; }
      #main-content #page-1 .grid:nth-child(3) p:first-child, #main-content #page-1 .grid:nth-child(3) p:nth-child(4) {
        font-weight: bold;
        text-decoration: underline; }
      #main-content #page-1 .grid:nth-child(3) div {
        height: 70%; }
  #main-content #page-2 {
    top: -100%;
    text-align: center;
    /*    .grid:nth-child(1){
            background:url("img/shapes.jpg");
            @extend .cover-bg;
        }

        .grid:nth-child(2){
            background:url("img/orb.jpg");
            @extend .cover-bg;
        }

        .grid:nth-child(3){
            background:url("img/operacraft.jpg");
            @extend .cover-bg;
        }*/ }
    #main-content #page-2 .grid:nth-child(3), #main-content #page-2 .grid:nth-child(5) {
      margin-right: 0px; }
    #main-content #page-2 .grid div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      width: 100%;
      height: 100%;
      background: white; }
    #main-content #page-2 .grid:hover {
      cursor: pointer; }
      #main-content #page-2 .grid:hover div {
        background: rgba(252, 149, 44, 0.8); }
  #main-content #page-3 {
    top: -200%;
    text-align: center; }
  #main-content #page-4 {
    top: -300%; }
    #main-content #page-4 .grid div:first-child {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center; }

.cover-bg {
  background-size: cover;
  background-position: center; }

/* Portrait */
@media (min-width: 768px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  nav {
    float: left;
    width: 15vw;
    margin: 5vh 0vw 5vh 5vw;
    height: 90vh;
    flex-flow: column;
    justify-content: space-around; }
    nav ul {
      height: 50%;
      flex-flow: column nowrap;
      justify-content: center; }
      nav ul li {
        justify-content: space-between;
        padding: 0px 20px;
        height: 24%; }
        nav ul li span {
          font-size: 1.5vw; }
    nav div {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      height: 10%; }
      nav div span:first-child {
        font-size: 1.75vw; }
      nav div span:last-child {
        font-size: 1.25vw; }

  #main-content {
    float: left;
    width: calc(75vw - 5px - 5vw);
    margin: calc(5vh - 5px) 0vw 0vh 5vw;
    height: calc(90vh + 5px); } }
