$bg-color:   #3e3f42;
$font-color: white;
$dark-blue : #1E7DFA;
$blue:       #4799FC;
$light-blue: #7DB8FC;
$max-width : 15vw;

html, body, section, ul, li, h1, h2{
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    color:$font-color;
    font-weight: 100;
}

body, section{
    background: $bg-color;
}

section{
    box-sizing: border-box;
    width:100vw;
    height:100vh;
}

#home{
    text-align: center;
    .helper{
        display:inline-block;
        height:100%;
        vertical-align: middle;
    }
    img{

        vertical-align: middle;
        max-width:$max-width;
    }
}
