html, body, ul, ol, * {
  margin: 0px;
  padding: 0px; }

body {
  background: #36383a; }

nav {
  width: 100vw;
  height: 10vh;
  background: #2980b9; }
  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 10vh; }
    nav ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Actor';
      color: #36383a;
      width: calc(100% / 5);
      height: 100%; }
      nav ul li img {
        -webkit-filter: invert(0.778);
        -moz-filter: invert(0.778);
        filter: invert(0.778); }
    nav ul .selected, nav ul li:hover {
      color: white; }
      nav ul .selected img, nav ul li:hover img {
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        filter: invert(0); }
    nav ul li:hover {
      cursor: pointer; }

.hidden {
  display: none; }

.full-width, #main-content, #main-content .grid, #main-content .col-1-1 {
  width: 100%; }

.full-height, #main-content .row-1-1 {
  height: 100%; }

.full-width-height, #main-content .page {
  width: 100%;
  height: 100%; }

p {
  padding: 0px 10px;
  box-sizing: content-box; }

#main-content {
  background: #36383a;
  /* -5px due to border of selected */
  height: calc(100vh - 10vh - 5px);
  margin-top: 5px;
  overflow: hidden; }
  #main-content .page {
    position: relative;
    left: 0px; }
  #main-content .hide-about {
    top: -100%; }
  #main-content .hide-blog {
    display: none; }
  #main-content .hide-contact {
    display: none; }
  #main-content .hide-project {
    display: none; }
  #main-content .grid {
    display: flex;
    float: left;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    background: white;
    color: #36383a;
    font-family: 'Titillium Web';
    margin-bottom: 5px;
    margin-right: 5px; }
    #main-content .grid div {
      width: 100%; }
  #main-content .row-1-2 {
    height: calc((100% - 5px)/ 2); }
  #main-content .col-1-2 {
    width: calc((100% - 5px)/ 2); }
  #main-content .row-1-3 {
    height: calc((100% - (1 * 5px))/ 3); }
  #main-content .row-2-3 {
    height: calc(2*(100% - (1 * 5px))/ 3); }
  #main-content .col-1-3 {
    width: calc((100% - (2 * 5px))/ 3); }
  #main-content .col-2-3 {
    width: calc(2*(100% - (2 * 5px))/ 3); }
  #main-content #about-page .grid:first-child div:first-child {
    text-align: center;
    height: 30%; }
  #main-content #about-page .grid:first-child div:last-child {
    height: 50%; }
  #main-content #about-page .grid:nth-child(2) {
    text-align: center; }
    #main-content #about-page .grid:nth-child(2) div:first-child {
      height: 30%; }
    #main-content #about-page .grid:nth-child(2) div:last-child {
      height: 50%; }
  #main-content #about-page .grid:nth-child(3) {
    margin-right: 0px; }
