$navBackground:#2980b9;
$bodyBackground:#36383a;
$mobileOffset:5px;
$navH:10vh;

html, body, ul, ol, *{
    margin:0px;
    padding:0px;
}

body{
    background: #{$bodyBackground};
}


nav{
    width:100vw;
    height:10vh;
    background:#{$navBackground};

    ul{
        list-style:none;
        display:flex;
        flex-wrap: nowrap;

        width:100%;
        height:#{$navH};


        li{
            display:flex;
            align-items:center;
            justify-content: center;

            font-family: 'Actor';
            color:#{$bodyBackground};
            width:calc(100% / 5);
            height:100%;

            img{
                -webkit-filter:invert(0.778);
                -moz-filter:invert(0.778);
                filter:invert(0.778);
            }

        }

        .selected{
            color:white;
            img{
                -webkit-filter:invert(0);
                -moz-filter:invert(0);
                filter:invert(0);
            }
        }

        li:hover{
            cursor:pointer;
            @extend .selected;
        }
    }
}

.hidden{
    display:none;
}

.full-width{
    width:100%;
}

.full-height{
    height:100%;
}

.full-width-height{
    width:100%;
    height:100%;
}

p{
    padding:0px 10px;
    box-sizing: content-box;
}



#main-content{
    @extend .full-width;
    background:#{$bodyBackground};
    /* -5px due to border of selected */
    height: calc(100vh - #{$navH} - #{$mobileOffset});
    margin-top:#{$mobileOffset};
    overflow:hidden;

    .page{
        position:relative;
        left:0px;
        @extend .full-width-height;
    }

    .hide-about{
        top:-100%;
    }

    .hide-blog{
        display:none;
    }

    .hide-contact{
        display:none;
    }

    .hide-project{
        display:none;
    }

    .grid{
        display:flex;
        @extend .full-width;
        float:left;
        justify-content:space-around;
        flex-flow:column nowrap;
        align-items:center;
        align-content:center;
        background:white;
        color:#{$bodyBackground};
        font-family: 'Titillium Web';
        margin-bottom: #{$mobileOffset};
        margin-right: #{$mobileOffset};

        div{
            width:100%;
        }

    }

    .row-1-1{
        @extend .full-height;
    }

    .col-1-1{
        @extend .full-width;
    }

    .row-1-2{
        height:calc((100% - #{$mobileOffset})/ 2);
    }

    .col-1-2{
        width:calc((100% - #{$mobileOffset})/ 2);
    }

    .row-1-3{
        height:calc((100% - #{$mobileOffset})/ 3);
    }

    .row-2-3{
        height:calc(2*(100% - #{$mobileOffset})/ 3);
    }

    .col-1-3{
        width:calc((100% - #{$mobileOffset})/ 3);
    }

    .col-2-3{
        width:calc(2*(100% - #{$mobileOffset})/ 3);
    }



    #about-page{

        .grid:first-child{

            div:first-child{
                text-align: center;
                height:30%;
            }

            div:last-child{
                height:50%;
            }
        }

        .grid:nth-child(2){
            text-align: center;
            div:first-child{
                height:30%;
            }

            div:last-child{
                height:50%;
            }
        }

        .grid:nth-child(3){
            margin-right:0px;
        }
    }


}
