$navWidth:17.5vw;
$navBackground:#2980b9;
$bodyBackground:#36383a;
$marginSide:50px;
$marginTop:30px;
$spacing:15px;
$mobileSide:10px;
$mobileTop:10px;
$spacingMobile:7px;



html, body, ol, ul, *{
    margin:0;
    padding:0;
}

body{
    background: #{$bodyBackground};
}


nav{
    float:left;
    width:#{$navWidth};
    max-width:200px;
    margin:#{$marginTop} 0px #{$marginTop} #{$marginSide};
    background:#{$navBackground};

    li:first-child img{
        width:40%;
        height:40%;
        padding:5px 0px;
    }

    li:nth-child(3) span{
        font-size:small;
    }

    ul{
        list-style:none;
        text-align:center;
    }

    span{
        font-family:'Actor';
        color:white;
        font-size:medium;
    }

    .nav-item{
        margin-top:5px;
    }

    .nav-item:hover{
        cursor:pointer;
        span{
            color:#{$bodyBackground};
        }

        img{
            -webkit-filter: invert(0.778);
            -moz-filter: invert(0.778);
            filter: invert(0.778);
        }
    }

    li:nth-child(n+4){
        display:flex;
        align-items:center;
        justify-content: space-between;
        padding:10px 15px;
        border-right:5px solid #{$navBackground};
        img{
            width:15%;
            height:15%;
        }
    }

    hr{
        width:100%;
    }


    .selected-nav{
        border-color:white !important;
    }

    #brand span{
        font-size:x-large;
    }
}


#main{
    display:block;
    float:left;
    overflow:hidden;
    width:calc(100vw - #{$navWidth} - (2 * #{$marginSide}));
    height:calc(100vh - (2 * #{$marginTop}) + #{$spacing});
    margin:calc(#{$marginTop} - #{$spacing}) 0px #{$marginTop} 0px;
    font-family:'Open Sans';

    .page{
        left:0px;
        position:relative;
        width:100%;
        height:100%;
        -webkit-transition:top 0.6s, left 0.6s;
        -moz-transition:top 0.6s, left 0.6s;
        transition: top 0.6s, left 0.6s;
    }

    #about-page{
        top:0px;

        #prof-img{
            width:15vw;
            height:15vw;
            margin-bottom:20px;
        }

        #vt-img{
            width:20vw;
        }
    }

    #project-page{
        top:-100%;
    }

    #blog-page{
        top:-200%;
    }

    #contact-page{
        top:-300%;
    }

    .grid{
        width:100%;
        height:100%;
        float:left;
        background:white;
        box-shadow: 0px 3px 4px #2a2b2d;
        left:0px;
        margin-left:#{$spacing};
        margin-top:#{$spacing};
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;


        div{
            max-height:40%;

            min-height:50px;
            overflow:scroll;
        }
        p{
            margin:0px;
            padding:10px;
        }


    }

    .row-1-1{
        width:calc(100% - #{$spacing});
    }

    .col-1-1{
        height:calc(100% - #{$spacing});
    }

    .row-1-2{
        width:calc((100% -  (2 * #{$spacing}))/2);
    }

    .col-1-2{
        height:calc((100% - (2 * #{$spacing}))/2);
    }

    .row-1-3{
        width:calc((100% -  (3 * #{$spacing}))/3);
    }

    .row-2-3{
        width:calc(2*((100% -  (3 * #{$spacing}))/3));
    }

    .col-1-3{
        height:calc((100% - (3 * #{$spacing}))/3);
    }

    .col-2-3{
        height:calc(2*((100% -  (3 * #{$spacing}))/3));
    }


    h1, h2, h3, p{
        font-family:'Titillium Web';
        font-weight: normal;
    }

    h1{
        font-size:2.0vw;
    }

    h2{
        font-size:1.5vw;
    }

    h3{
        font-size:1.0vw;
    }

}

.hide-about{
    top:-150% !important;
}

.hide-project, .hide-contact{
    left:150% !important;
}

.hide-blog{
    top:50% !important;
}

@media screen and (min-width: 1140px) {
    #main{
        width:calc(100vw - 200px - (2 * #{$marginSide}));
    }
}

/* Portrait */
/* Portrait */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {

    .row-1-2.col-1-1{
        width:calc(100% - #{$spacing}) !important;
        height:calc((100% - (2 * #{$spacing}))/2) !important;
    }

}

/* Portrait */
@media only screen
and (min-width: 376px)
and (max-width: 768px)
and (orientation: portrait), only screen
and (min-width: 320px)
and (max-width: 375px)
and (orientation: portrait) {



    nav{
        width:100vw;
        max-width:none;
        margin:0px;

        li{
            float:left;
            width:calc(25vw);
        }

        .nav-item {
            margin:0px ;
            padding:0px ;
        }

        li:nth-child(n-4), li span{
            display:none;
        }

        li:nth-child(n+5){
            display:flex;
            justify-content:center;
            align-items:center;
            padding:5px 0px;
            border-right:0px solid #{$navBackground};
            border-bottom:2px solid #{$navBackground};
            img{
                width:8vw;
                height:8vw;
                max-width: 36px;
                max-height: 36px;
            }
        }

        .selected-nav{
            border-right:0px solid #{$navBackground};
            border-bottom:2px solid white !important;
        }
    }

    #main{
        width:calc(100vw - #{$spacing});
        height:calc(100vh - 50px - (1 * #{$spacing}));
        margin:0px;
    }

    .row-1-2.col-1-1{
        width:calc(100% - #{$spacing}) !important;
        height:calc((100% - (2 * #{$spacing}))/2) !important;
    }

    .row-1-3.col-1-1{
        width:calc(100% - #{$spacing}) !important;
        height:calc((100% - (3 * #{$spacing}))/3) !important;

    }

}

/* Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 480px)
and (orientation: landscape) {

    .row-1-2.col-1-1{
        width:calc(100% - #{$spacing}) !important;
        height:calc((100% - (2 * #{$spacing}))/2) !important;
    }

}


@media only screen
and (min-width: 320px)
and (max-width: 375px)
and (orientation: portrait) {

    #main{
        width:calc(100vw - #{$spacingMobile});
        height:calc(100vh - 50px);
        margin:0px;
    }

    .grid{
        margin-left:#{$spacingMobile} !important;
        margin-top:#{$spacingMobile} !important;
    }

    .row-1-1{
        width:calc(100% - #{$spacingMobile})!important;
    }

    .col-1-1{
        height:calc(100% - #{$spacingMobile})!important;
    }

    .row-1-2{
        width:calc((100% -  (2 * #{$spacingMobile}))/2)!important;
    }

    .col-1-2{
        height:calc((100% - (2 * #{$spacingMobile}))/2) !important;
    }

    .row-1-3{
        width:calc((100% -  (3 * #{$spacingMobile}))/3) !important;
    }

    .row-2-3{
        width:calc(2*((100% -  (3 * #{$spacingMobile}))/3))!important;
    }

    .col-1-3{
        height:calc((100% - (3 * #{$spacingMobile}))/3)!important;
    }

    .col-2-3{
        height:calc(2*((100% -  (3 * #{$spacingMobile}))/3))!important;
    }

    .row-1-2.col-1-1{
        width:calc(100% - #{$spacingMobile}) !important;
        height:calc((100% - (2 * #{$spacingMobile}))/2) !important;
    }

    .row-1-3.col-1-1{
        width:calc(100% - #{$spacingMobile}) !important;
        height:calc((100% - (3 * #{$spacingMobile}))/3) !important;

    }

}
