$navBackground:#2980b9;
$bodyBackground:#36383a;
$mobileOffset:15px;
$navH:10vh;

html, body, ul, ol, *{
    margin:0px;
    padding:0px;
}

body{
    background: #{$bodyBackground};
}


nav{
    width:100vw;
    height:10vh;
    background:#{$navBackground};

    ul{
        list-style:none;
        display:flex;
        flex-wrap: nowrap;

        width:100%;
        height:#{$navH};


        li{
            display:flex;
            align-items:center;
            justify-content: center;

            font-family: 'Actor';
            color:#{$bodyBackground};
            width:calc(100% / 5);
            height:100%;

            img{
                -webkit-filter:invert(0.778);
                -moz-filter:invert(0.778);
                filter:invert(0.778);
            }

        }

        .selected{
            color:white;
            img{
                -webkit-filter:invert(0);
                -moz-filter:invert(0);
                filter:invert(0);
            }
        }

        li:hover{
            cursor:pointer;
            @extend .selected;
        }
    }
}

.hidden{
    display:none;
}

.full-width{
    width:100%;
}

.full-height{
    height:100%;
}

.full-width-height{
    width:100%;
    height:100%;
}

p{
    padding:0px 10px;
}


#main-content{
    @extend .full-width;

    /* -5px due to border of selected */
    height: calc(100vh - #{$navH} - 5px);
    margin-top:5px;
    overflow:hidden;

    .page{
        position:relative;
        left:0px;
        @extend .full-width-height;
    }

    .hide-about{
        top:-100%;
    }

    .hide-blog{
        display:none;
    }

    .hide-contact{
        display:none;
    }

    .hide-project{
        display:none;
    }

    .grid{
        display:flex;
        @extend .full-width;
        float:left;
        justify-content:space-around;
        flex-flow:column nowrap;
        align-items:center;
        background:white;
        color:#{$bodyBackground};
        font-family: 'Titillium Web';
        margin-right:5px;
        margin-bottom:5px;
    }

    .row-1-1{
        @extend .full-width;
    }

    .col-1-1{
        @extend .full-height;
    }

    .row-1-2{

    }

    #about-page{

        .grid:first-child{
            div:first-child{
                height:30%;
            }

            div:last-child{
                height:50%;
            }
        }
    }

}
