.open-clue {
    font-family: 'Quicksand', sans-serif;
    color: white;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.open-clue.hidden {
    display: none;
}

.open-clue .clue-title {
    font-size: 3em;
    text-transform: uppercase;
    position: relative;
    color: #f3f3f3;
    z-index: 1;
    text-align:  center;
    margin: 0 0 20px;
}

.open-clue .clue-title:after {
    position: absolute;
    z-index: -1;
    content: attr(data-title);
    width: 100%;
    height: 100%;
    top: 5px;
    left: 3px;
    color: #9B9B9B;
    font-weight: bold;
}

.open-clue .clue-text {
    /* text-transform: uppercase; */
    font-size: 40px;
    line-height: 1.55;
    flex-grow: 1;
    overflow:  scroll;
    margin-bottom: 25px;
}

.open-clue .clue-text p {
    overflow: scroll;
    margin:  0;
}

.open-clue .open-clue-container {
    display:  flex;
    flex-flow: column;
    height: calc(100% - 40px);
    padding: 0 50px 20px;
}

.open-clue audio {
    width: 100%;
    margin-bottom: 100px;
}

.open-clue .back-button {
    font-family: 'Quicksand', sans-serif;
    color: #73D8EF;
    border: none;
    border-radius: 2px;
    position: relative;
    background: none;
    text-transform: uppercase;
    padding: 8px 0 12px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 24px 0 0;
    font-size: 32px;
}

.open-clue .back-button:before {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 100%;
    content: '';
    border: 3px solid #129AED;
    z-index: 2;
    text-align: center;
}

.open-clue .back-button:after {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    content: '';
    border: 3px solid #73D8EF;
    z-index: 1;
}

.open-clue .back-button-txt {
    position: relative;
    display: block;
    font-weight: bold;
    width: 100%;
    z-index: 1;
}

.open-clue .back-button-txt:after {
    position: absolute;
    z-index: -1;
    content: attr(data-text);
    top: 1px;
    left: 2px;
    width: 100%;
    height: 100%;
    color: #129AED;
    font-weight: bold;
}

.open-clue .character-card .character-info {
    font-size: 1.5em;
}

.open-clue .character-card .character-info .character-name {
    color: #f3f3f3;
}

.open-clue .character-card .character-info .character-name:after {
    color: grey;
}

.open-clue .clue-text span.character-name {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
}

.open-clue .clue-text span.character-name.botanist {
    color: #2ECC71;
}

.open-clue .clue-text span.character-name.botanist:before {
    content: 'The Botanist';
}

.open-clue .clue-text span.character-name.doctor {
    color: #D8334A;
}

.open-clue .clue-text span.character-name.doctor:before {
    content: 'The Doctor';
}

.open-clue .clue-text span.character-name.collector {
    color: #73D8EF;
}

.open-clue .clue-text span.character-name.collector:before {
    content: 'The Collector';
}

.open-clue .clue-text span.character-name.genetic-engineer {
    color: #fd972a;
}

.open-clue .clue-text span.character-name.genetic-engineer:before {
    content: 'The Genetic Engineer';
}

.open-clue .clue-text span.character-name.inventor {
    color: #AC92EC;
}

.open-clue .clue-text span.character-name.inventor:before {
    content: 'The Inventor';
}

.open-clue .clue-text span.character-name.chef {
    color: #FFDE5A;
}

.open-clue .clue-text span.character-name.chef:before {
    content: 'The Chef';
}

.open-clue .clue-text span.character-name.manufacturer {
    color: #F5F7FA;
}

.open-clue .clue-text span.character-name.manufacturer:before {
    content: 'The Manufacturer';
}

.open-clue .clue-text span.character-name.blogger {
    color: #EC87C0;
}

.open-clue .clue-text span.character-name.blogger:before {
    content: 'The Blogger';
}

.open-clue .clue-text span.character-name.meteorologist {
    color: #1ABC9C;
}

.open-clue .clue-text span.character-name.meteorologist:before {
    content: 'The Meteorologist';
}

.open-clue .clue-text span.character-name.architect {
    color: #5D9CEC;
}

.open-clue .clue-text span.character-name.architect:before {
    content: 'The Architect';
}

.open-clue .clue-text span.character-name.miner {
    color: #BAA286;
}

.open-clue .clue-text span.character-name.miner:before {
    content: 'The Miner';
}