.character {
    background: #252525;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:  column;
}

.character .clues {
    display: flex;
    flex-flow: column;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    flex-grow: 1;
}

.character .clues .clue {
    font-size: 3em;
    flex-grow: 1;
    color: white;
    padding: 8px 0 8px;
    margin: 40px 30px;
    text-align: center;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character .clues .clue:after {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    content: '';
    border: 6px solid #129AED;
}

.character .clues .clue:before {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    border: 6px solid #73D8EF;
}

.character .clues .clue {
    font-size: 10em;
    font-weight: bold;
}

.character .clues .clue .clue-lock {
    display: none;
}

.character .clues .clue.locked .clue-number {
    display: none;
}

.character .clues .clue.locked .clue-number.clue-lock {
    display: block;
}

.character .clues .clue.locked:after {
    border-color: #a0a0a0;
}

.character .clues .clue.locked:before {
    border-color: #737373;
}

.character .clues .clue.locked .clue-number {
    color: #a0a0a0;
}

.character .clues .clue.locked .clue-number:after {
    color: #737373;

}

.character .clues .clue .clue-number {
    position: relative;
    z-index: 1;
}

.character .clues .clue .clue-number:after {
    position: absolute;
    z-index: -1;
    content: attr(data-clue);
    width: 100%;
    height: 100%;
    top: 3px;
    left: 7px;
    color: #EDAF12;
    text-align: center;
}

.character .character-card {
    padding: 0;
}

.character .character-card:after {
    border: none;
}

.character .character-card:before {
    border: none;
}


.character .character-card .character-label,
.character .character-card .character-label:after,
.character .character-card .character-name, 
.character .character-card .character-name:after {
    text-align: center;
}