.character .clues .clue {
    border-color: #FEB711;
    color: #FEB711;
}

.character .clues .clue:after, .open-clue .back-button:after {
    border-color: #FEB711;
}

.open-clue .back-button {
    color: #FEB711;
}

.character .clues .clue:before, .open-clue .back-button:before {
    border-color: #DD8E11;
}

.character .clues .clue .clue-number:after, .open-clue .back-button-txt:after {
    color: #DD8E11;
}
