.character .clues .clue {
    border-color: #00EFFF;
    color: #00EFFF;
}

.character .clues .clue:after, .open-clue .back-button:after {
    border-color: #00EFFF;
}

.open-clue .back-button {
    color: #00EFFF;
}

.character .clues .clue:before, .open-clue .back-button:before {
    border-color: #07ADB9;
}

.character .clues .clue .clue-number:after, .open-clue .back-button-txt:after {
    color: #07ADB9;
}
