.character .clues .clue {
    border-color: #FFFB75;
    color: #FFFB75;
}

.character .clues .clue .clue-number:after {
    color: #c1bf6f;
}

.character .clues .clue:after {
    border-color: #FFFB75;
}

.character .clues .clue:before {
    border-color: #c1bf6f;
}