.character .clues .clue {
    border-color: #A579FF;
    color: #A579FF;
}

.character .clues .clue:after, .open-clue .back-button:after {
    border-color: #A579FF;
}

.open-clue .back-button {
    color: #A579FF;
}

.character .clues .clue:before, .open-clue .back-button:before {
    border-color: #8550F0;
}

.character .clues .clue .clue-number:after, .open-clue .back-button-txt:after {
    color: #8550F0;
}
