.character .clues .clue {
    border-color: #c4bbfd;
    color: #c4bbfd;
}

.character .clues .clue .clue-number:after {
    color: #9E90F5;
}

.character .clues .clue:after {
    border-color: #c4bbfd;
}

.character .clues .clue:before {
    border-color: #9E90F5;
}