@import url("https://fonts.googleapis.com/css?family=Quicksand");

html, body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    height: 140%;
    background: #414249;
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0 0 40px;
    margin: 0;
}

.mystery-title {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #a0a0a0;
    font-weight: 100;
    position: relative;
    display: block;
    text-align: center;
    margin:  0 0 20px;
    padding-top: 10px;
    z-index: 0;
    font-size: 3em;
    font-weight: bold;
}

.mystery-title:after {
    position: absolute;
    z-index: -1;
    content: attr(data-name);
    width: 100%;
    height: 100%;
    top: 14px;
    left: 4px;
    color: #737373;
    text-align: center;
    font-weight: bold;
}

.character-card {
    font-family: 'Quicksand', sans-serif;
    color: #73D8EF;
    margin: 25px 20px;
    padding: 20px 0 26px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.character-card:after {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    content: '';
    border: 6px solid #73D8EF;
    z-index: 1;
}

.character-card:before {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 100%;
    height: 100%;
    content: '';
    border: 6px solid #129AED;
    z-index: 2;
}

.character-card .character-icon {
    flex-grow: 1;
    width:  7.5%;
    text-align: center;
}

.character-card .character-info {
    width: 60%;
    flex-grow: 2;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.character-card .character-label {
    display: block;
    margin: 2px 0 4px;
    padding: 0;
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

.character-card .character-label:after {
    position: absolute;
    z-index: -1;
    content: 'THE';
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    color: #129AED;
    text-align: left;

}
.character-card .character-name {
    display: block;
    margin: -4px 0 0;
    padding: 0;
    position: relative;
    z-index: 1;
    font-size: 2.75em;
    text-align: left;
}

.character-card .character-name:after {
    position: absolute;
    z-index: -1;
    content: attr(data-name);
    width: 100%;
    height: 100%;
    top: 4px;
    left: 4px;
    color: #129AED;
}

/* Engineer */
.character-card.botanist .character-label,
.character-card.botanist .character-name {
    color: #75D791;

}

.character-card.botanist .character-label:after,
.character-card.botanist .character-name:after {
    color: #3CA559;

}

.character-card.botanist:after {
    border-color: #75D791;
}

.character-card.botanist:before {
    border-color: #3CA559;
}

/* Doctor */
.character-card.doctor .character-label,
.character-card.doctor .character-name {
    color: #E87777;

}

.character-card.doctor .character-label:after,
.character-card.doctor .character-name:after {
    color: #D05959;

}

.character-card.doctor:after {
    border-color: #E87777;
}

.character-card.doctor:before {
    border-color: #D05959;
}

/* Engineer */
.character-card.engineer .character-label,
.character-card.engineer .character-name {
    color: #c4bbfd;
}

.character-card.engineer .character-label:after,
.character-card.engineer .character-name:after {
    color: #9E90F5;

}

.character-card.engineer:after {
    border-color: #c4bbfd;
}

.character-card.engineer:before {
    border-color: #9E90F5;
}

/* Craftsman */
.character-card.craftsman .character-label,
.character-card.craftsman .character-name {
    color: #FFFB75;
}

.character-card.craftsman .character-label:after,
.character-card.craftsman .character-name:after {
    color: #c1bf6f;

}

.character-card.craftsman:after {
    border-color: #FFFB75;
}

.character-card.craftsman:before {
    border-color: #c1bf6f;
}