@import url("https://fonts.googleapis.com/css?family=Quicksand");

html, body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    background: #252525;
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0 0 40px;
    margin: 0;
}

.mystery-title {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #f3f3f3;
    font-weight: 100;
    position: relative;
    display: block;
    text-align: center;
    margin:  0 0 20px;
    padding-top: 10px;
    z-index: 0;
    font-size: 3em;
    font-weight: bold;
}

.mystery-title:after {
    position: absolute;
    z-index: -1;
    content: attr(data-name);
    width: 100%;
    height: 100%;
    top: 14px;
    left: 4px;
    color: grey;
    text-align: center;
    font-weight: bold;
}

.character-card {
    font-family: 'Quicksand', sans-serif;
    color: #73D8EF;
    margin: 25px 20px;
    padding: 20px 0 26px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-weight: bold;
}

.character-card:after {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    content: '';
    border: 6px solid #73D8EF;
    z-index: 1;
}

.character-card:before {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 100%;
    height: 100%;
    content: '';
    border: 6px solid #129AED;
    z-index: 2;
}

.character-card .character-icon {
    flex-grow: 1;
    width:  7.5%;
    text-align: center;
}

.character-card .character-info {
    width: 60%;
    flex-grow: 2;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.character-card .character-label {
    display: block;
    margin: 2px 0 4px;
    padding: 0;
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

.character-card .character-label:after {
    position: absolute;
    z-index: -1;
    content: 'THE';
    top: 2px;
    left: 2px;
    width: 100%;
    height: 100%;
    color: #129AED;
    text-align: left;
}

.character-card .character-name {
    display: block;
    margin: -4px 0 0;
    padding: 0;
    position: relative;
    z-index: 1;
    font-size: 2.75em;
    text-align: left;
    font-weight: bold;
}

.character-card .character-name:after {
    position: absolute;
    z-index: -1;
    content: attr(data-name);
    width: 100%;
    height: 100%;
    top: 3px;
    left: 3px;
    color: #129AED;
}

/* Engineer */
.character-card.botanist .character-label,
.character-card.botanist .character-name {
    color: #2ECC71;

}

.character-card.botanist .character-label:after,
.character-card.botanist .character-name:after {
    color: #278C51;

}

.character-card.botanist:after {
    border-color: #2ECC71;
}

.character-card.botanist:before {
    border-color: #278C51;
}

/* Doctor */
.character-card.doctor .character-label,
.character-card.doctor .character-name {
    color: #E74C3C;

}

.character-card.doctor .character-label:after,
.character-card.doctor .character-name:after {
    color: #C0392B;

}

.character-card.doctor:after {
    border-color: #E74C3C;
}

.character-card.doctor:before {
    border-color: #C0392B;
}

/* Meteorologist */
.character-card.meteorologist .character-label,
.character-card.meteorologist .character-name {
    color: #00CFFF;

}

.character-card.meteorologist .character-label:after,
.character-card.meteorologist .character-name:after {
    color: #108FAC;

}

.character-card.meteorologist:after {
    border-color: #00CFFF;
}

.character-card.meteorologist:before {
    border-color: #108FAC;
}

/* Engineer */
.character-card.engineer .character-label,
.character-card.engineer .character-name {
    color: #a579ff;
}

.character-card.engineer .character-label:after,
.character-card.engineer .character-name:after {
    color: #8550F0;

}

.character-card.engineer:after {
    border-color: #a579ff;
}

.character-card.engineer:before {
    border-color: #8550F0;
}

/* Craftsman */
.character-card.craftsman .character-label,
.character-card.craftsman .character-name {
    color: #FFDE5A;
}

.character-card.craftsman .character-label:after,
.character-card.craftsman .character-name:after {
    color: #BEA84F;

}

.character-card.craftsman:after {
    border-color: #FFDE5A;
}

.character-card.craftsman:before {
    border-color: #BEA84F;
}

/* Writer */
.character-card.writer .character-label,
.character-card.writer .character-name {
    color: #FEB711;
}

.character-card.writer .character-label:after,
.character-card.writer .character-name:after {
    color: #DD8E11;

}

.character-card.writer:after {
    border-color: #FEB711;
}

.character-card.writer:before {
    border-color: #DD8E11;
}

/* Preacher */
.character-card.preacher .character-label,
.character-card.preacher .character-name {
    color: #6A53FF;
}

.character-card.preacher .character-label:after,
.character-card.preacher .character-name:after {
    color: #4433B2;

}

.character-card.preacher:after {
    border-color: #6A53FF;
}

.character-card.preacher:before {
    border-color: #4433B2;
}

/* Traveler */
.character-card.traveler .character-label,
.character-card.traveler .character-name {
    color: #FA8CFF;
}

.character-card.traveler .character-label:after,
.character-card.traveler .character-name:after {
    color:#c56cca;

}

.character-card.traveler:after {
    border-color: #FA8CFF;
}

.character-card.traveler:before {
    border-color: #c56cca;
}

/* Reporter */
.character-card.reporter .character-label,
.character-card.reporter .character-name {
    color: #1ABC9C;
}

.character-card.reporter .character-label:after,
.character-card.reporter .character-name:after {
    color:#1A7563;

}

.character-card.reporter:after {
    border-color: #1ABC9C;
}

.character-card.reporter:before {
    border-color: #1A7563;
}

/* Athlete */
.character-card.athlete .character-label,
.character-card.athlete .character-name {
    color: #129AED;
}

.character-card.athlete .character-label:after,
.character-card.athlete .character-name:after {
    color:#1272AD;

}

.character-card.athlete:after {
    border-color: #129AED;
}

.character-card.athlete:before {
    border-color: #1272AD;
}