@import url("reset.css");

html{
	font-family: 'Rajdhani', sans-serif;
}

input[type="button"]{
	border:none;
	width:50px;
	height:50px;
	background:none;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

#top-row, #top-mid-row, #bot-mid-row, #bot-row{
	display:block;
	text-align:center;
}

#top-row input, #top-mid-row input, #bot-mid-row input, #bot-row input{
	margin:3em;
}

input[type="button"]:focus, input[type="button"]:active{
	outline:none;

}

input[type="button"]:hover{
	outline:none;
	transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
}

#selectedpiece-45{
	transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

#selectedpiece-60{
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

p{
	padding-top:0.4em;
	text-align: center;
}

#game-box{
	margin:0px auto;
	width:40em;
}
