<!doctype html>
<html ng-app="app">
<head>
    <title>MetLife Basketball</title>
    <link rel="stylesheet" href="style.min.css"/>
    <link rel="stylesheet" href="balloon.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body ng-controller="MainCtrl">

    <!-- Top Results List -->
    <div id="results-tab">
        <table>
            <tbody>
                <tr>
                    <td class="recent-games" id="week-picker">
                        <table>
                            <tr>
                                <td>
                                    <button id="prevWeek"><i class="fa fa-arrow-left"></i></button>
                                    <span>{{dates[currentWeek - 1]}}</span>
                                    <button id="nextWeek"><i class="fa fa-arrow-right"></i></button>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="recent-games" ng-repeat="game in currentWeekGames">
                        <table ng-if="game.hasPlayed">
                            <tr>
                                <td>
                                    <span class="win" ng-if="game.win1">{{game.team1}}</span>
                                    <span ng-if="game.win2">{{game.team1}}</span>
                                </td>
                                <td>
                                    <span class="win" ng-if="game.win1">{{game.score1}}</span>
                                    <span ng-if="game.win2">{{game.score1}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="win" ng-if="game.win2">{{game.team2}}</span>
                                    <span ng-if="game.win1">{{game.team2}}</span>
                                </td>
                                <td>
                                    <span class="win" ng-if="game.win2">{{game.score2}}</span>
                                    <span  ng-if="game.win1">{{game.score2}}</span>
                                </td>
                            </tr>
                        </table>
                        <table ng-if="!game.hasPlayed">
                            <tr>
                                <td>
                                    <span>{{game.team1}}</span>
                                </td>
                                <td>
                                    <span>-</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>{{game.team2}}</span>
                                </td>
                                <td>
                                    <span>-</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="recent-games blank-game" ng-if="currentWeekGames.length < 4">
                        <table>
                            <tr>
                                &nbsp;
                            </tr>
                        </table>
                    </td>
                    <td class="recent-games blank-game" ng-if="currentWeekGames.length < 5">
                        <table>
                            <tr>
                                &nbsp;
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Navigation for teams -->
    <nav>
        <div id="home">
            Home
        </div>
        <ul>
            <li>
                BaaS
            </li>
            <li>
                Bricklayers
            </li>
            <li>
                Crabtree Lakers
            </li>
            <li>
                The Deregulators
            </li>
            <li>
                DynaMet
            </li>
            <li>
                EI & Trey
            </li>
            <li>
                MetLife Ballers
            </li>
            <li>
                Red Baron
            </li>
        </ul>
    </nav>

    <!-- Standings of league, home page -->
    <section id="standings" ng-if="!hasCurrentTeam">
        <table>
            <thead>
                <tr>
                    <th>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th>

                    </th>
                    <th data-balloon="Wins" data-balloon-pos="up" ng-click="order('wins')">
                        W
                    </th>
                    <th data-balloon="Losses" data-balloon-pos="up" ng-click="order('losses')">
                        L
                    </th>
                    <th data-balloon="Winning Percentage" data-balloon-pos="up" ng-click="order('wpct')">
                        PCT
                    </th>
                    <th data-balloon="Points per game" data-balloon-pos="up" ng-click="order('ppg')">
                        PPG
                    </th>
                    <th data-balloon="Opponents Points per game" data-balloon-pos="up" ng-click="order('oppg')">
                        Opp PPG
                    </th>
                    <th data-balloon="Point Differential" data-balloon-pos="up" ng-click="order('ppgd')">
                        DIFF
                    </th>
                    <th data-balloon="Current Streak" data-balloon-pos="up" ng-click="order('streak')">
                        STRK
                    </th>
                    <th data-balloon="Record last 5 games" data-balloon-pos="up" ng-click="order('last5')">
                        L5
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in standings">
                    <td>
                        {{team.rank}}
                    </td>
                    <td>
                        {{team.name}}
                    </td>
                    <td>
                        {{team.wins}}
                    </td>
                    <td>
                        {{team.losses}}
                    </td>
                    <td>
                        {{team.wpct | number:3}}
                    </td>
                    <td>
                        {{team.ppg | number:1}}
                    </td>
                    <td>
                        {{team.oppg | number:1}}
                    </td>
                    <td>
                        <span class="win" ng-if="team.pd > 0">+{{team.ppgd | number:1}}</span>
                        <span class="loss" ng-if="team.pd < 0">{{team.ppgd  | number:1}}</span>
                        <span ng-if="team.pd === 0">{{team.ppgd | number:1}}</span>
                    </td>
                    <td>
                        <span ng-if="team.streak > 0">W{{team.streak}}</span>
                        <span ng-if="team.streak < 0">L{{team.streak * -1}}</span>
                    </td>
                    <td>
                        {{team.last5}}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- Current team page -->
    <div ng-if="hasCurrentTeam" class="team-subheader">
        <img ng-src="{{currentTeam.logo}}" alt="{{currentTeam.name}} Logo" />
        <div class="vertical-line"></div>
        <h1 ng-if="!currentTeam.name.startsWith('EI')">{{currentTeam.name}}</h1>
        <h1 ng-if="currentTeam.name.startsWith('EI')">EI & Trey</h1>
        <span class="detailed-info" ng-if="currentTeam.rank === 1">{{currentTeam.rank}}st Overall</span>
        <span class="detailed-info" ng-if="currentTeam.rank === 2">{{currentTeam.rank}}nd Overall</span>
        <span class="detailed-info" ng-if="currentTeam.rank === 3">{{currentTeam.rank}}rd Overall</span>
        <span class="detailed-info" ng-if="currentTeam.rank > 3">{{currentTeam.rank}}th Overall</span>

    </div>


    <!-- Individual Team Scores -->
    <section class="team-stats team-schedule" ng-if="hasCurrentTeam">
        <table >
            <tbody>
                <tr ng-repeat="game in games">
                    <td>
                        vs
                    </td>
                    <td ng-if="currentTeam.name.localeCompare(game.team1) === 0">
                        <span>{{game.team2}}</span>
                    </td>
                    <td ng-if="currentTeam.name.localeCompare(game.team2) === 0">
                        <span>{{game.team1}}</span>
                    </td>
                    <td ng-if="game.hasPlayed && currentTeam.name.localeCompare(game.team1) === 0">
                        <span class="win" ng-if="game.win1">W</span>
                        <span class="loss" ng-if="game.win2">L</span>
                    </td>
                    <td ng-if="game.hasPlayed && currentTeam.name.localeCompare(game.team2) === 0">
                        <span class="win" ng-if="game.win2">W</span>
                        <span class="loss" ng-if="game.win1">L</span>
                    </td>
                    <td ng-if="!game.hasPlayed">
                        <span> - </span>
                    </td>
                    <td ng-if="game.hasPlayed">
                        <span ng-if="game.win1">{{game.score1}} - {{game.score2}}</span>
                        <span ng-if="game.win2">{{game.score2}} - {{game.score1}}</span>
                    </td>
                    <td ng-if="!game.hasPlayed">
                        <span> - </span>
                    </td>
                    <td class="date">
                        {{game.date}}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- Individual team record and stats -->
    <section class="team-stats team-detailed-stats" ng-if="hasCurrentTeam">
        <table>
            <thead>
                <tr>
                    <th data-balloon="Team's Record" data-balloon-pos="up">
                        Record
                    </th>
                    <th data-balloon="Winning Percentage" data-balloon-pos="up">
                        PCT
                    </th>
                    <th data-balloon="Points per game" data-balloon-pos="up">
                        PPG
                    </th>
                    <th data-balloon="Opponent Points per game" data-balloon-pos="up">
                        Opp PPG
                    </th>
                    <th data-balloon="Point Differential per game" data-balloon-pos="up">
                        DIFF
                    </th>
                    <th data-balloon="Points for" data-balloon-pos="up">
                        PF
                    </th>
                    <th data-balloon="Points Allowed" data-balloon-pos="up">
                        PA
                    </th>
                    <th data-balloon="Point Differential" data-balloon-pos="up">
                        DIFF
                    </th>
                    <th data-balloon="Current Streak" data-balloon-pos="up">
                        STRK
                    </th>
                    <th data-balloon="Record last 5 games" data-balloon-pos="up">
                        L5
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{currentTeam.wins}} - {{currentTeam.losses}}
                    </td>
                    <td>
                        {{currentTeam.wpct | number:3}}
                    </td>
                    <td>
                        {{currentTeam.ppg| number:1}}
                    </td>
                    <td>
                        {{currentTeam.oppg | number:1}}
                    </td>
                    <td>
                        <span class="win" ng-if="currentTeam.pd > 0">+{{currentTeam.ppgd | number:1}}</span>
                        <span class="loss" ng-if="currentTeam.pd < 0">{{currentTeam.ppgd | number:1}}</span>
                        <span ng-if="currentTeam.pd === 0">{{currentTeam.ppgd | number:1}}</span>
                    </td>
                    <td>
                        {{currentTeam.pf}}
                    </td>
                    <td>
                        {{currentTeam.pa}}
                    </td>
                    <td>
                        <span class="win" ng-if="currentTeam.pd > 0">+{{currentTeam.pd | number:1}}</span>
                        <span class="loss" ng-if="currentTeam.pd < 0">{{currentTeam.pd| number:1}}</span>
                        <span ng-if="currentTeam.pd === 0">{{currentTeam.pd| number:1}}</span>
                    </td>
                    <td>
                        <span ng-if="currentTeam.streak > 0">W{{currentTeam.streak}}</span>
                        <span ng-if="currentTeam.streak < 0">L{{currentTeam.streak * -1}}</span>
                    </td>
                    <td>
                        {{currentTeam.last5}}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
