*, body, html{
  margin:0px;
  padding:0px;
}

body{
  background:#36383a;
  font-family:'Actor';
}

hr{
  height:4px;
  border:none;
  background: #36383a;
}

/* Begin Navigation */

#left-menu{
  z-index:2;
  position:fixed;
  top:30px;
  left:50px;
  background-color:#2980b9;
  width:17.5%;
  box-shadow: 0px 3px 4px #2a2b2d;
}

#nav-list{
    z-index:2;

  list-style:none;
}

#nav-list li{
  padding:5px;
  margin:0px 10px;
  color:white;
  text-align:left;
  font-size:1.75vw;
}

.nav-item{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.nav-item img{
  width:3vw;
}

/* Hover over nav items */
.nav-item:hover{
  cursor: pointer;
}

.nav-item:hover span{
  color: #36383a;
}

.nav-item:hover img, #logo img{
  -webkit-filter: invert(0.778);
   filter: invert(0.778);
}

.selected-nav:after{
    position:absolute;
    right:0px;
    content:'';
    width:4px;
    background:white;
    height:3.3vw;
}


#logo, #brand, #location{
  text-align:center !important;
}

#logo img{
  width: 10vw;
}

#location span{
  font-size: 1.5vw;
}

#location{
    padding-top:0px !important;
}

#brand{
    padding-bottom:0px !important;
}
/* End Navigation */

/* Basic Grid starter */
.grid{
  position:fixed;
  background: white;
  -webkit-transition:top 0.6s, left 0.6s;
  transition: top 0.6s, left 0.6s;
  box-shadow: 0px 3px 4px #2a2b2d;

}

.hidden-top{
    top:-100% !important;
}

.hidden-right{
    left:120% !important;
}

.hidden-bottom{
    top:200% !important;
}

.hidden-left{
    left:-100% !important;
}

/* Begin About Me Grid */
.about-grid{
  width:calc( (100% - 17% - 130px)/2);
  height:calc((100% - 75px)/2);
}

.about-row-1{
  top:30px;
}

.about-row-2{
  top:calc(45px + ((100% - 75px)/2));
}

.about-col-1{
  left: calc(65px + 17.5%);
  height:calc(100% - 60px);
}

.about-col-2{
  left:calc(80px + 17.5% + ((100% - 130px - 17.5%)/2));
}

#vt-pane div, #skills-pane div, .project-grid div, .contact-grid div, .blog-grid div{
  display:flex;
  justify-content:center;
  flex-flow: column wrap;
  height:100%;
  align-items:center;
}

h1, h2, h3{
  font-family:'Titillium Web';
}

h1{
  font-size:2.0vw;
}

h2{
  font-size:1.5vw;
}

h3{
  font-size:1.0vw;
}

#main-pane > div{
  display:flex;
  justify-content:center;
  flex-flow: row wrap;
  height:calc(100% - 30px);
  align-items:center;
  padding:0px 3px 0px 10px;

}

#main-pane img{
  width:17.5vw;
  height:17.5vw;
  border-radius: 500px;

}

#info{
    padding:0px;
    margin:0px;
    height:calc(100% - 120px - 15vw);
    overflow:hidden;
}

#info div{
    width:100%;
    height:99%;
    overflow:auto;
    padding-right:15px;
}

#vt-pane img{
 width:20vw;
}

/* End About Me Grid */




/* Begin Project Grid */

.project-grid{
  width:calc(( 100% - (65px + 17.5%) - 80px)/3);
  height:calc((100% - 90px)/3);
}

.proj-row-1{
  top:30px;
}

.proj-row-2{
  top:calc(45px + ((100% - 90px)/3));
}

.proj-row-3{
  top:calc(60px + (2*(100% - 90px)/3));
}

.proj-col-1{
    left: calc(65px + 17.5%);
}

.proj-col-2{
  left:calc((17.5% + 80px) + (( 100% - (65px + 17.5%) - 80px)/3));
}

.proj-col-3{
    left:calc((17.5% + 95px) + (2*( 100% - (65px + 17.5%) - 80px)/3));
}

/* End Project Grid */

/* Begin Blog Grid */
.blog-grid{
    width:calc((100% - 145px - 17.5%)/3);
    height:calc((100% - 60px));
}

.blog-row-1{
    top:30px;
}

.blog-col-1{
    left:calc(65px + 17.5%);
}

.blog-col-2{
    left:calc(80px + 17.5% + ((100% - 145px - 17.5%)/3));
}

.blog-col-3{
    left:calc(95px + 17.5% + (2*(100% - 145px - 17.5%)/3));
}
/* End Blog Grid */


/* Begin Contact Grid */

.contact-grid{
    width:calc(100% - 115px - 17.5%);
    height:calc((100% - 75px)/3);
}

.contact-row-1{
    top:30px;
}

.contact-row-2{
    top:calc(45px + ((100% - 75px)/3));
    height:calc(2*(100% - 75px)/3);
}

.contact-col-1{
    left:calc(65px + 17.5%);
}

/* End Contact Grid */



@media screen and (min-width: 1150px) {
    #left-menu{
        max-width:200px;
    }

    .nav-item span{
        font-size:20px;
    }

    #location span{
        font-size:17px;
    }

    #brand span{
        font-size:20px;
    }

    #logo img{
        width:115px;
    }

    .nav-item img{
        width:34px;
    }

    .selected-nav:after{
        height:38px;
    }

    /* About Grid Resizing Large Screens */
    .about-grid{
      width:calc( (100% - 200px - 130px)/2);
    }

    .about-col-1{
        left: 265px;
    }

    .about-col-2{
      left:calc(80px + 200px + ((100% - 130px - 200px)/2));
    }


    /* Project Grid Resizing Large Screens */
    .project-grid{
      width:calc(( 100% - 345px)/3);
    }

    .proj-col-1{
        left: 265px;
    }

    .proj-col-2{
      left: calc(280px + (( 100% - 345px)/3));
    }

    .proj-col-3{
        left: calc(295px + (2*( 100% - 345px)/3));
    }

    .blog-grid{
        width:calc((100% - 145px - 200px)/3);
    }

    .blog-col-1{
        left:265px;
    }

    .blog-col-2{
        left:calc(80px + 200px + ((100% - 145px - 200px)/3));
    }

    .blog-col-3{
        left:calc(95px + 200px + (2*(100% - 145px - 200px)/3));
    }

    .contact-grid{
        width:calc(100% - 315px);
    }

    .contact-col-1{
        left:265px;
    }

}
