<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>MetStats</title>
    <link href='style.css' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body ng-show="loaded" ng-controller="MainCtrl">
    <div id="buttons">
        <input type="button" id="all" ng-click="toggleAll()" value="Check All"/>
        <input type="button" id="none" ng-click="toggleOff()" value = "Uncheck All"/>
        <div>
            <input type="checkbox" id="brian" ng-model="brian"> <label for="brian">Brian</label>
        </div>
        <div>
            <input type="checkbox" id="cody" ng-model="cody"> <label for="cody">Cody</label>
        </div>
        <div>
            <input type="checkbox" id="hunter" ng-model="hunter"> <label for="hunter">Hunter</label>
        </div>
        <div>
            <input type="checkbox" id="jackie" ng-model="jackie"> <label for="jackie">Jackie</label>
        </div>
        <div>
            <input type="checkbox" id="jonell" ng-model="jonell"> <label for="jonell">Jonell</label>
        </div>
        <div>
            <input type="checkbox" id="ty" ng-model="ty"> <label for="ty">Ty</label>
        </div>
    </div>

    <table ng-repeat="player in players">
        <thead>
            <tr ng-show="player.season == null">
                <th>{{player.name}} <br/>Game: {{player.game}}</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3PTM</th>
                <th>3PTA</th>
                <th>3PT%</th>
                <th>BLK</th>
                <th>STL</th>
                <th>TO</th>
                <th>PTS</th>
            </tr>
            <tr ng-hide="player.season == null">
                <th>{{player.name}} <br/>Per Game Stats</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3PTM</th>
                <th>3PTA</th>
                <th>3PT%</th>
                <th>BLK</th>
                <th>STL</th>
                <th>TO</th>
                <th>PTS</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-show="player.season == null" ng-repeat="half in player.half">
                <td>{{half.name}}</td>
                <td>{{half.oreb}}</td>
                <td>{{half.dreb}}</td>
                <td>{{half.reb}}</td>
                <td>{{half.fgm}}</td>
                <td>{{half.fga}}</td>
                <td>{{half.fgp | number:3}}</td>
                <td>{{half.threeptm}}</td>
                <td>{{half.threepta}}</td>
                <td>{{half.threeptp | number:3}}</td>
                <td>{{half.blk}}</td>
                <td>{{half.stl}}</td>
                <td>{{half.to}}</td>
                <td>{{half.pts}}</td>
            </tr>
            <tr ng-show="player.season == null">
                <td>{{player.total.name}}</td>
                <td>{{player.total.oreb}}</td>
                <td>{{player.total.dreb}}</td>
                <td>{{player.total.reb}}</td>
                <td>{{player.total.fgm}}</td>
                <td>{{player.total.fga}}</td>
                <td>{{player.total.fgp | number:3}}</td>
                <td>{{player.total.threeptm}}</td>
                <td>{{player.total.threepta}}</td>
                <td>{{player.total.threeptp | number:3}}</td>
                <td>{{player.total.blk}}</td>
                <td>{{player.total.stl}}</td>
                <td>{{player.total.to}}</td>
                <td>{{player.total.pts}}</td>
            </tr>
            <tr ng-hide="player.season == null">
                <td>Per game and Totals</td>
                <td>{{player.oreb | number:2}}</td>
                <td>{{player.dreb | number:2}}</td>
                <td>{{player.reb | number:2}}</td>
                <td>{{player.fgm }}</td>
                <td>{{player.fga }}</td>
                <td>{{player.fgp | number:3}}</td>
                <td>{{player.threeptm }}</td>
                <td>{{player.threepta }}</td>
                <td>{{player.threeptp | number:3}}</td>
                <td>{{player.blk | number:2}}</td>
                <td>{{player.stl | number:2}}</td>
                <td>{{player.to | number:2}}</td>
                <td>{{player.pts | number:2}}</td>
            </tr>
        </tbody>

    </table>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
